{% extends 'main/layout.html' %}
{% load static %}

{% block title %}DragonLand - Відвідування заповідника{% endblock %}

{% block img-bg %}
<img
  src="{% static 'main/img/fire/fire-to_do_center.png' %}"
  alt="fire"
  class="fire fire-to_do_center"
/>
<img
  src="{% static 'main/img/fire/fire-to_do_right.png' %}"
  alt="fire"
  class="fire fire-to_do_right"
/>
{% endblock %}

{% block content %}
      <h2 class="h2 doing doing-main-title1">Чим зайнятися в заповіднику?</h2>
      <section class="doing doing-main">
        <div class="doing-one">
          <div class="doing-title">
            <img
              src="{% static 'main/img/icon/Binocular.png' %}"
              alt="Binocular.png"
              class="img-icon-doing"
            />
            <h3 class="h3">Споглядайте за драконами</h3>
          </div>
          <p class="p doing-p scale-in-ver-top">
            Територія заповідника дуже велика і на ній проживають різні види
            драконів. Разом із досвіченим магом ви можете дістатися до місця, де
            можна зблизька спостерігати за певним драконом, наприклад, коли вони
            відпочивають у своїй печері, перебувають на полюванні або літають
            високо в небі.<br />
            Також ви можете відвідати інкубатор та місце, де ростуть малі
            драконенята.
          </p>
        </div>
        <div class="doing-one">
          <div class="doing-title">
            <img
              src="{% static 'main/img/icon/Tree.png' %}"
              alt="Tree.png"
              class="img-icon-doing"
            />
            <h3 class="h3">Прогулянка стилізованим парком драконів</h3>
          </div>
          <p class="p doing-p scale-in-ver-top">
            Окрім територій, де перебувають дракони, пропонуємо вам прогулятися
            тематичним парком, де ви побачите різні скульптури кожного виду
            дракона, цікаві декорації та будівлі. У парку ви можете розслабитися
            на абсолютно безпечній території (вона оточена захисним бар’єром) та
            споглядати за польотами драконів вдалині з оглядового майданчика.
          </p>
        </div>
        <div class="doing-one">
          <div class="doing-title">
            <img
              src="{% static 'main/img/icon/Mountains.png' %}"
              alt="Mountains.png"
              class="img-icon-doing"
            />
            <h3 class="h3">Підніміться на гору Ґрінхілл</h3>
          </div>
          <p class="p doing-p scale-in-ver-top">
            На території заповідника також знаходиться гора, з якої
            відкривається прекрасний вигляд. Також там знаходиться гніздо
            зелених валійок, ці дракони часто літають над горою, тож це чудове
            місце, щоб насолодитися їхньою красою. Ви можете піднятися на гору
            на транспорті, або самотужки з гідом.
          </p>
        </div>
        <div class="doing-one">
          <div class="doing-title">
            <img
              src="{% static 'main/img/icon/dragon.png' %}"
              alt="dragon.png"
              class="img-icon-doing"
            />
            <h3 class="h3">Пролетіть на спині дракона</h3>
          </div>
          <p class="p doing-p scale-in-ver-top">
            Пролетіть на спині дракона над територією заповідника! Ми маємо
            кілька приручених дружелюбних драконів, які залюбки політають з
            вами. Повірте, з висоти їхнього польоту відкривається неймовірний
            вигляд і така прогулянка подарує вам незабутні почуття.
          </p>
        </div>
      </section>
      <h2 class="h2 doing doing-main-title2">Ціни</h2>
      <section class="price doing scale-in-ver-top">
        <div class="price-main">
          <div>
            <h4 class="h4 price-main_h4">Парк:</h4>
            <p class="p">
              Вихідні та свята - 10 у.о. <br />Будні дні - безкоштовно.
            </p>
          </div>
          <div>
            <h4 class="h4 price-main_h4">
              Відвідання одного місця з драконами:
            </h4>
            <p class="p">
              Вихідні та свята - 250 у.о. <br />Будні дні - 200 у.о.
              <br />Набирається група бажаючих, з якою вирушає наш гід
            </p>
          </div>
          <div>
            <h4 class="h4 price-main_h4">Підйом на гору:</h4>
            <p class="p">
              З гідом: 150 у.о.<br />На транспорті: 200 у.о. <br />Набирається
              група бажаючих, з якою вирушає наш гід
            </p>
          </div>
          <div>
            <h4 class="h4 price-main_h4">
              Вхід до інкубатора та малят-драконів:
            </h4>
            <p class="p">
              Вихідні та свята - 100 у.о. <br />Будні дні - 70 у.о.
            </p>
          </div>
          <div>
            <h4 class="h4 price-main_h4">Політ на драконі</h4>
            <p class="p">Вартість: 300 у.о.</p>
          </div>
        </div>
        <p class="attention p">
          Зауважте — квитки на кожну активність потрібно бронювати завчасно!
        </p>
      </section>
{% endblock %}