{% extends 'main/layout.html' %}
{% load static %}

{% block title %}DragonLand - Квитки{% endblock %}
{% block img-bg %}
    <img
      src="{% static 'main/img/fire/fire-tickets-left.png' %}"
      alt="fire"
      class="fire fire-tickets-left"
    />
    <img
      src="{% static 'main/img/fire/fire-tickets-right.png' %}"
      alt="fire"
      class="fire fire-tickets-right"
    />
    <img
      src="{% static 'main/img/fire/fire-tickets-center.png' %}"
      alt="fire"
      class="fire fire-tickets-center"
    />
{% endblock %}
{% block content %}
  <div class="ticket">

      <section class="ticket-start">
        <h2 class="h2">Квитки</h2>
        <h3 class="h3 ticket-start_h3">
          Квитки потрібно бронювати завчасно — або по телефону, або ви можете
          придбати їх тут. Заповніть необхідні поля та оберіть спосіб оплати.
        </h3>
      </section>

      <form method="post" class="form scale-in-ver-top">
        {% csrf_token %}




        <h3 class="h3 form-title">Персональна інформація</h3>
        <div class="form-row p">
          {{ form.first_name }}
          {{ form.last_name }}
          {{ form.email }}
        </div>
        <h3 class="h3 form-title">Інформація про відвідування</h3>
        <div class="form-row p">
          {{ form.dragon }}
          {{ form.date }}
          {{ form.time }}
        </div>
        <button
          id="button-form"
          class="button button-form-tickets"
          type="submit"
        >
          Забронювати квитки
        </button>

<!--      <form method="post" class="form scale-in-ver-top">-->
<!--        <h3 class="h3 form-title">Персональна інформація</h3>-->
<!--        <div class="form-row p">-->
<!--          <input-->
<!--            type="text"-->
<!--            name="name"-->
<!--            placeholder="Ім'я"-->
<!--            class="form-item form-item-all input-field"-->
<!--          />-->
<!--          <input-->
<!--            type="text"-->
<!--            name="surname"-->
<!--            placeholder="Прізвище"-->
<!--            class="form-item form-item-all input-field"-->
<!--          />-->
<!--          <input-->
<!--            type="email"-->
<!--            name="email_user"-->
<!--            placeholder="e-mail"-->
<!--            class="form-item form-item-all input-field"-->
<!--          />-->

<!--          <div class="error-message"></div>-->
<!--          <div class="error-message"></div>-->
<!--          <div class="error-message"></div>-->
<!--        </div>-->
<!--        <h3 class="h3 form-title">Інформація про відвідування</h3>-->
<!--        <div class="form-row p">-->
<!--          <label for=""-->
<!--            >Кількість квитків:-->
<!--            <input-->
<!--              type="number"-->
<!--              name="count_tickets"-->
<!--              min="1"-->
<!--              max="30"-->
<!--              value="1"-->
<!--              class="form-number"-->
<!--              onchange="calculateTotal()"-->
<!--            />-->
<!--          </label>-->
<!--          <select-->
<!--            name="activity"-->
<!--            class="select form-item form-item-all input-field"-->
<!--            onchange="calculateTotal()"-->
<!--          >-->
<!--            <option value="" disabled selected>Оберіть активність</option>-->
<!--            <option>Вхід до інкубатора</option>-->
<!--            <option>Підйом на гору</option>-->
<!--            <option>Політ на драконі</option>-->
<!--            <option>Спостереження за драконами</option>-->
<!--          </select>-->
<!--          <select-->
<!--            name="select_dragon"-->
<!--            class="select form-item form-item-all input-field"-->
<!--          >-->
<!--            <option value="" disabled selected>Оберіть дракона</option>-->
<!--            <option>Норвезький хребтоспин</option>-->
<!--            <option>Китайська метеорка</option>-->
<!--            <option>Гебридій чорний</option>-->
<!--            <option>Звичайна зелена валійка</option>-->
<!--            <option>Опалоок антиподібний</option>-->
<!--            <option>Шведська короткокрилка</option>-->
<!--            <option>Румунський довгоріг</option>-->
<!--            <option>Угорська рогохвістка</option>-->
<!--            <option>Український залізопуз</option>-->
<!--          </select>-->
<!--        </div>-->
<!--        <div class="form-row p">-->
<!--          <label id="form-date">-->
<!--            Оберіть дату візиту:-->
<!--            <input-->
<!--              type="date"-->
<!--              name="date_visit"-->
<!--              class="form-item input-field"-->
<!--              id="datePicker"-->
<!--              onchange="restrictDays()"-->
<!--            />-->
<!--          </label>-->
<!--          <label id="form-time"-->
<!--            >Оберіть час візиту:-->
<!--            <select-->
<!--              name="select_time"-->
<!--              class="select form-item form-time input-field"-->
<!--            >-->
<!--              <option value="" disabled selected>00:00</option>-->
<!--              <option>10:00</option>-->
<!--              <option>15:00</option>-->
<!--            </select>-->
<!--          </label>-->
<!--          <div id="list-dragons">-->
<!--            <p class="p">-->
<!--              Норвезький хребтоспин - пн та чт;<br />-->
<!--              Угорська рогохвістка - пн та чт;<br />-->
<!--              Український залізопуз - пн та чт;<br />-->
<!--              Китайська метеорка - вт та пт;<br />-->
<!--              Звичайна зелена валійка - вт та пт;<br />-->
<!--              Гебридій чорний - ср та сб;<br />-->
<!--              Румунський довгоріг - ср та сб;<br />-->
<!--              Опалоок антиподібний - ср та нд;<br />-->
<!--              Шведська короткокрилка - ср та нд;<br />-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="result-form green-light">-->
<!--          <h3 class="h3">Всього:</h3>-->
<!--          <h3 class="h3" id="result-form-h3">0</h3>-->
<!--          <h3 class="h3">y.o.</h3>-->
<!--        </div>-->
<!--        &lt;!&ndash; !submit add &ndash;&gt;-->
<!--        <button-->
<!--          id="button-form"-->
<!--          class="button button-form-tickets"-->
<!--          onclick="openPopup()"-->
<!--        >-->
<!--          Забронювати квитки-->
<!--        </button>-->
      </form>
      <!-- <button type="submit" id="button-form" class="button button-form-tickets" onclick="openPopup()">Забронювати квитки</button> -->
      <div class="container-popup" id="popup" onclick="closePopup()">
        <div class="container-popup-icon_close" id="icon-close">
          <img src="img/icon/icon-close.png" alt="" />
        </div>
        <h2 class="h2">Квитки заброньовано!</h2>
        <p class="p">
          Дякуємо Вам за оформлення квитків. Підтвердження броні прийде Вам на
          пошту протягом кількох хвилин. Будь ласка, здійсніть оплату протягом
          24-х годин, після чого ви отримаєте квитки на Вашу пошту.
        </p>
        <button id="button-pay" class="button p" onclick="closePopup()">
          Оплатити зараз
        </button>
      </div>
      <p class="p ticket-end-p">
        Після натиснення кнопки “Забронювати квитки” Ви отримаєте підтвердження
        бронювання на вказану пошту. Опісля Ви можете оплатити квитки одразу або
        протягом 24-х годин після підтвердження броні (за посиланням у листі з
        підтвердженням). Коли оплата пройде успішно, електронний лист з квитками
        прийде на Вашу пошту.
      </p>
  </div>
{% endblock %}