{% extends 'main/layout.html' %}
{% load static %}

{% block title %}DragonLand - Квитки{% endblock %}
{% block img-bg %}
    <img
      src="{% static 'main/img/fire/fire-tickets-left.png' %}"
      alt="fire"
      class="fire fire-tickets-left"
    />
    <img
      src="{% static 'main/img/fire/fire-tickets-right.png' %}"
      alt="fire"
      class="fire fire-tickets-right"
    />
    <img
      src="{% static 'main/img/fire/fire-tickets-center.png' %}"
      alt="fire"
      class="fire fire-tickets-center"
    />
{% endblock %}
{% block content %}
  <div class="ticket">

      <section class="ticket-start">
        <h2 class="h2">Квитки</h2>
        <h3 class="h3 ticket-start_h3">
          Квитки потрібно бронювати завчасно — або по телефону, або ви можете
          придбати їх тут. Заповніть необхідні поля та оберіть спосіб оплати.
        </h3>
      </section>

      <form method="post" class="form scale-in-ver-top">
        {% csrf_token %}




        <h3 class="h3 form-title">Персональна інформація</h3>
        <div class="form-row p">
          {{ form.first_name }}
          {{ form.last_name }}
          {{ form.email }}
        </div>
        <h3 class="h3 form-title">Інформація про відвідування</h3>
        <div class="form-row p">
          {{ form.dragon }}
          {{ form.date }}
          {{ form.time }}
        </div>
        <div class="form-row p">
            <p>Дату вводити - рррр-мм-дд
                <br /> Наприклад: 2024-05-10</p>
            <p>Час вводити - гг:хх
                <br /> Наприклад: 15:30</p>
            <h2 class="h2 green-light">Ціна: 250 у.о.</h2>
        </div>
        <button
          id="button-form"
          class="button button-form-tickets"
          type="submit"
        >
          Забронювати квитки
        </button>

      </form>

      <p class="p ticket-end-p">
        Після натиснення кнопки “Забронювати квитки” Ви отримаєте підтвердження
        бронювання на вказану пошту. Опісля Ви можете оплатити квитки одразу або
        протягом 24-х годин після підтвердження броні (за посиланням у листі з
        підтвердженням). Коли оплата пройде успішно, електронний лист з квитками
        прийде на Вашу пошту.
      </p>
  </div>
{% endblock %}