.footer{
    margin-top: 7.937vw;
    padding: 2.38vw 10.582vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    align-items: center;
    background-color: var(--green_dark);
}
.footer-col{
    font-family: "Kharkiv";
    font-size: var(--font-size-p);
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}
.footer-title{
    width: 8.8909vw;
    height: 4.6296vw;
}
.footer-item{
    color: white;
}
.footer-item:hover{
    text-decoration: underline;
}
.footer-col_ul-center{
    padding: 0.397vw 0px;
}